{% extends 'base.html' %}

{% block content %}
        <div class = "item_container">
        {% for item in items %}
        <div class = "item_card">
        <h1>{{ item.name }}</h1>
        <h2>type: {{ item.type }}</h2>
        {% if item.value %}
            <h2>Rarity: {{item.rarity}}</h2>
            <h2>Value: {{item.value}}</h2>
        {% else %}
            <h2>Rarity: Unknown</h2>
            <h2>Value: Unknown</h2>
        {% endif %}
        </div>
        </div>
        {% endfor %}
    {% endblock content %}